body{
  margin: 0 0 auto;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

h1{
  font-size: 90px;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2{
  font-family: 'Limelight', cursive;
}

h3{
  color: #11999E;
  font-family: 'Limelight', cursive;
}

p{
  font-family: 'Montserrat Alternates', sans-serif;
  line-height: 2;
  margin: 20px 0;
}

a{
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.dotted{
  width: 10%;
  border-style: dotted none none;
  border-width: 10px;
  border-color: pink;
}

.top-container{
  width: 100%;
  height: 1000px;
  background-color: lightyellow;
  margin-top: 0;
  position: relative;
  padding-top: 100px;
  }

.junghee{
  margin: 190px auto;
  width: 60%;
}

.uxui-designer{
  margin: -180px auto;
  width: 40%;
  font-weight: normal;
}

.top-cloud{
  width: 20%;
  height: auto;
  right: 200px;
  top: 50px;
  position: absolute;
}

.second-cloud{
  width: 17%;
  height: auto;
  left: 100px;
  bottom: 500px;
  position: absolute;
}

.mountain{
  text-align: center;
  width: auto;
  height: 30%;
  margin-top: 400px;
  position: relative;
}

.skill-row{
  width: 50%;
  text-align: left;
  margin: 0 auto;
}

.footer-link{
   color: #398585;
}

.btn{
 background: #66bfbf;
 background-image: -webkit-linear-gradient(top, #66bfbf, #398585);
 background-image: -moz-linear-gradient(top, #66bfbf, #398585);
 background-image: -ms-linear-gradient(top, #66bfbf, #398585);
 background-image: -o-linear-gradient(top, #66bfbf, #398585);
 background-image: linear-gradient(to bottom, #66bfbf, #398585);
 -webkit-border-radius: 10;
 -moz-border-radius: 10;
 border-radius: 10px;
 font-family: 'Montserrat Alternates', sans-serif;
 color: #ffffff;
 font-size:15px;
 padding: 10px 20px 10px 20px;
 text-decoration: none;
}

.btn:hover {
 background: #6adede;
 background-image: -webkit-linear-gradient(top, #6adede, #35abab);
 background-image: -moz-linear-gradient(top, #6adede, #35abab);
 background-image: -ms-linear-gradient(top, #6adede, #35abab);
 background-image: -o-linear-gradient(top, #6adede, #35abab);
 background-image: linear-gradient(to bottom, #6adede, #35abab);
 text-decoration: none;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
  margin: 20px 0 0;
}

.copyright{
  font-size: 12px;
}
